* {
    margin: 0; 
    padding: 0;
box-sizing: border-box;
}
body {background: #1a161b; }



.head { 
    width: 100vw;
    color: aliceblue;
    margin: 0%;
    padding: 2%;
} 
.container{
    margin: 0 auto;
    width: 80%;
    height: 50% ;
    border: solid 1px black;
    background: #8d2dc5;
}
.card-header{ text-align: center;}
.card-body{ margin: 0 auto;}